.heading {
  margin: 0;
  background-color: #F5F5F5;
  height: 28px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

  &--container {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
  }

  &--column1 {
    display: flex;
    justify-content: center;

    a {
      color: #333;
      margin: 5px;
      font-size: 13px;
      font-weight: bold;

      &:hover {
        color: #4078c0;
      }
    }

    input {
      font-size: 13px;
      display: table-cell;
      height: 26px;
      width: 355px;
      padding: 0 7px 0 8px;
      border-radius: 3px;
      border: 1px solid #ddd;
      margin: 0 14px 0 8px;
    }
  }

  .fa-github {
    font-size: 28px;
    color: #333;
    height: 28px;
    width: 28px;
  }

  &--column2 {
    display: flex;
    align-items: center;

    i {
      height: 16px;
      width: 16px;
      margin: 0;
      color: #333;
    }
  }

  &--profile {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin: 5px;
    margin-right: 0;
  }
}

.profile {
  padding-top: 20px;
  display: flex;
  width: 980px;
  margin: 0 auto;

  &--info {
    padding: 0 10px;
    width: 25%;
  }

  &--media {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }

  &--avatar {
    height: 230px;
    width: 230px;
    border-radius: 6px;
  }

  &--name {
    font-size: 26px;
    color: #333;
    margin: 0;
    line-height: 30px;
    padding-top: 10px;
  }

  &--username {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
  }

  &--location {
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 0;

    p {
      margin: 10px 0;
    }

    i {
      color: #888;
      font-size: 16px;
      padding-right: 5px;
      margin: 0;
    }
  }

  &--social {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #ddd;

    p:first-child {
      font-size: 28px;
      color: #4078c0;
      margin: 0;
      padding-top: 10px;
      font-weight: bold;
    }

    .label {
      font-size: 11px;
      margin: 0;
    }
  }

  .profile--organizations {
    h2 {
      font-size: 16px;
      color: #333;
      line-height: 1.5;
    }
  }

  &--repos {
    width: 750px;
    padding: 0 10px;

    &-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      margin-top: 20px;

      a {
        font-size: 14px;
      }

      a:first-of-type {
        color: #000;
        font-weight: bold;
      }
    }

    &-search {
      width: 242px;
      height: 18px;
      padding: 7px 8px;
      border: 1px solid #ddd;
      border-radius: 3px;
      font-size: 13px;
      margin-right: 0;
    }

    &-submit, &-new {
      width: 68.375px;
      height: 34px;
      font-weight: bold;
      padding: 6px 12px;
      background-color: #ddd;
      // background-image: linear-gradient(#eee, #ddd);
      box-shadow: inset 0 0 3px 0px #ddd;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-left: -2px;
    }

    &-new {
      color: #fff;
      background-color: #569e3d;
    }
  }

  &--repo {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;

    &-name {
      margin: 0;
      line-height: 1.2;

      a {
        color: #4078c0;
        font-size: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      display: inline-block;
      font-size: 13px;
      margin-left: 8px;
    }
  }

  h3 {
    margin: 0;
    margin-top: 8px;
    font-size: 13px;
    font-weight: normal;
  }
}
